<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="nl"
      class="no-js" layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- /core JS files -->
</head>
<body>
<!-- Insert content into the layouts/layout.html -->
<section layout:fragment="content">
    Add post
    <form class="form-horizontal" th:action="@{/app/{domain}/add-posts/(domain=${domain})}" th:object="${postForm}" method="post">

        <div class="form-group">
            <label class="col-lg-3 control-label">Link to contract with processor (as required):
            </label>
            <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Link to contract with processor (as required)" th:field="*{text}">
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Create posts<i class="icon-arrow-right14 position-right"></i>
            </button>
        </div>
    </form>
</section>
</body>

</html>
