<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="nl"
      class="no-js" layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- /core JS files -->
</head>
<body>
<!-- Insert content into the layouts/layout.html -->
<section layout:fragment="content">
    Page for posts!
</section>
</body>

</html>